a-scene {
    height: 200px;
    width: 300px;
    margin: 25px;
    padding: 25px;
  }

.smaller-image {
    height: 300px;
    width: 400px;
    margin: 25px;
    padding: 25px;
  }



body {
  background-color: darkred!important;
}

h1 {
  color: white;
  margin: 25px;
  padding: 5px;
}

h5 {
  color: white;
  margin: 25px;
  padding: 5px;
}