a-scene {
    height: 300px;
    width: 400px;
  }

  .smaller-image {
    height: 300px;
    width: 400px;
  }

body {
  background-color: darkred!important;
}

h1 {
  color:white;
}

h5 {
  color:white;
}